<?xml version="1.0"?>
<launch>
    <include file="$(find simple_scene)/launch/gazebo.launch" />
    <include file="$(find ur5_gr2_moveit_config)/launch/move_group.launch" />
    <include file="$(find fake_vision)/launch/get_model_list_server.launch" />
    <include file="$(find test_pick_and_place)/launch/onerobot_planner.launch" />
</launch>